body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    margin-left: 480px;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

/* Header styling */
.college-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #ececec, #ecf2f8);
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px; 
    box-sizing: border-box;
}



.logo-container img {
    height: 60px;
    margin-bottom: 10px; 
   
}



.college-info {
    flex: 1;
    text-align: center;
    padding: 0 10px;

}

.college-info h1 {
    font-size: 20px; 
    color: #333;
    margin: 5px 0;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.college-info p {
    font-size: 12px; 
    font-weight: bold;
    color: #000;
    margin: 3px 0;
}

.college-detail {
    font-size: 12px;
    margin-top: 10px;
    white-space: nowrap;
}

.side-by-side {
    display: block; 
    text-align: center;
    margin-bottom: 5px;
}

.side-by-side span {
    display: block; 
    margin-bottom: 3px; 
    font-size: 12px; 
}

/* Form container styling */
.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #333333;
    margin-bottom: 20px;
}

.form-group, .form-group1 {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.form-group1 input[type="text"], .form-group1 input[type="tel"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.radio-group {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.radio-group label {
    font-size: 14px;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #003d7a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a053;
}

/* Responsive Design */
@media (max-width: 768px) {
    .college-header {
        flex-direction: column;
        align-items: center;
    }

    .college-info h1 {
        font-size: 12px; 
    }

    .college-info p {
        font-size: 8px; 
    }

    .college-detail, .side-by-side {
        font-size: 8px; 
        flex-direction: column;
        gap: 5px;
    }

    .logo-container img, .anniversary img {
        height: 50px; 
    }
}

@media (max-width: 600px) {
    .form-container {
        width: 90%;
        padding: 20px;
    }

    .logo-container img {
        height: 100px;
    }
}